#app {
    height: 100%;
  }

  :root{
    --primary: #6a59ff;
    --white: #ffffff;
    --bg: #f5f5f5;
  }
  @media (min-width: 1440px) {
    html{
      zoom: 3.5;
    }
  }
  @media (min-width: 2560px) {
    html{
      zoom: 2.7;
    }
  }
  @media (min-width: 3860px) {
    html{
      zoom: 3.5;
    }
  }
  ::-webkit-scrollbar{
    width: 1.3rem;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #222224;
  }
  ::-webkit-scrollbar-track{
    background: #f9f9f9;
  }
  .swiper-container{
    height: 40rem;
    position: relative;
    
  }
  .sliders {
    border-radius: 1rem;
    width: 23rem;
    height: 14rem;
    position: relative;
  }
  @media (max-width:500px){
    .swiper-container{
      height: 47rem;
    }
    .sliders{
      width: 28rem;
      height: 36rem;
    }
    .sliders img{
      width: 28rem;
      height: 36rem;
    }

  }
  .sliders img {
    border-radius: 1rem;
    width: 23rem;
    height: 14rem;
    object-fit: cover;
  }
  .slider-controller{
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-pagination{   
    width: 20rem;
    bottom: 1rem;
  }
  